.p-title-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  animation: typing-title 2.5s steps(50, end) forwards;
}

.p-title {
  width: max-content;
  font-weight: 600;
  font-size: max(30px, 8vmin);
}

.p-subtitle {
  margin-bottom: max(5px, 3vmin);
  font-size: max(14px, 2.5vmin);
}

.p-pager {
  cursor: pointer;
}

.p-pager:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
}

@keyframes typing-title {
  0% {
    width: 0;
  }
}

.p-content-container {
  position: relative;
  width: calc(100%);
  height: calc(100% - 8vmin - 12vmin);
  font-size: max(14px, 2.5vmin);
  overflow: auto;
  /* background-color: rgba(255, 255, 255, 0.212); */
}

/* HOME PAGE */

.home-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  row-gap: 60px;
}

.home-text {
  margin-left: 10%;
}

.home-title {
  width: fit-content;
  font-size: max(16vmin, 60px);
  overflow: hidden;
  white-space: nowrap;
  animation: typing-title-2 1s steps(20, end);
}

.home-subtitle {
  width: fit-content;
  font-size: max(3.5vmin, 14px);
  overflow: hidden;
  white-space: nowrap;
  animation: typing-title-2 1s steps(20, end) 1s both;
}

@keyframes typing-title-2 {
  0% {
    max-width: 0;
  }
  100% {
    max-width: max(50vw, 500px);
  }
}

.home-hex-navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max(35%, 280px);
  height: max(80%, 400px);
  color: black;
}

.home-hex {
  height: max(30vmin, 150px);
  width: max(30vmin, 150px);
  background-image: url('../../assets/hex1.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  cursor: pointer;
  filter: invert(1);
}

@keyframes hex-load {
  0% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}

.home-hex:nth-child(1) {
  margin-left: min(-5vmin, -25px);
  animation: hex-load 0.9s 1.6s backwards, wander-a 12s 4s infinite ease-in-out;
}

.home-hex:nth-child(2) {
  margin-top: min(-5vmin, -25px);
  margin-left: max(25vmin, 125px);
  animation: hex-load 1s 1.9s backwards, wander-b 12s 4s infinite ease-in-out;
}

.home-hex:nth-child(3) {
  margin-top: min(-5vmin, -25px);
  margin-left: min(-5vmin, -25px);
  animation: hex-load 1.2s 2.3s backwards, wander-c 12s 4s infinite ease-in-out;
}

.hex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.hex-back-drop {
  position: relative;
  z-index: -1;
  top: min(-30vmin, -150px);
  height: max(30vmin, 150px);
  width: max(30vmin, 150px);
  background-image: url('../../assets/hex3.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  filter: invert(1);
  opacity: 0.2;
}

.hex-content img {
  width: max(8vmin, 40px);
  height: max(8vmin, 40px);
  filter: saturate(0) invert(1);
}

.home-hex:hover {
  filter: invert(1) drop-shadow(0px 0px 4px rgba(0, 204, 255, 0.8));;
}

.home-hex:hover .hex-back-drop {
  opacity: 0.05;
  filter: invert(0);
}

@keyframes wander-a {
  33% {
    transform: translate(6px, -6px);
  }
  66% {
    transform: translate(-6px, 6px);
  }
}

@keyframes wander-b {
  33% {
    transform: translate(6px, 0px);
  }
  66% {
    transform: translate(-6px, 0px);
  }
}

@keyframes wander-c {
  33% {
    transform: translate(6px, 6px);
  }
  66% {
    transform: translate(-6px, -6px);
  }
}

/* ABOUT ME PAGE */

.about-me-grid {
  display: flex;
  flex-wrap: wrap;
  gap: max(5%, 10px);
}

.about-me-desc {
  width: max(65%, 280px);
  font-weight: 600;
  line-height: 1.9;
}

.p-about-me-photo {
  max-height: 55vh;
  max-width: max(30%, 280px);
  border: 3px solid white;
  border-radius: 10px;
  filter: saturate(0.8);
}

/* MY EXPERIENCES PAGE */

.p-exp-board {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - max(6vh, 40px));
  width: 100%;
  gap: 2.5vmax;
  overflow: auto;
}

.p-exp-post {
  height: max(50%, 250px);
  width: max(28%, 280px);
  padding: max(10px, 1.5vh) max(10px, 1.5vh) max(10px, 1.5vh) max(10px, 1.5vh);
  overflow-y: auto;
  overflow-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-radius: 1.5vh;
  cursor: pointer;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
}

.p-learn-more {
  display: flex;
  margin-top: max(1.25vh, 10px);
  justify-content: center;
  font-size: max(12px, 2.2vh);
}

.p-exp-post:hover {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.p-exp-post-title {
  position: relative;
  font-size: max(2.5vh, 20px);
  line-height: 1.2;
}

.p-exp-post-content {
  position: relative;
  font-size: max(2.2vh, 17px);
}

.p-exp-post-date {
  font-size: max(1.75vh, 14px);
}

.p-main-content .focus-bg {
  position: fixed;
  bottom: 60px;
  left: 60px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  animation: appear 0.25s linear;
  cursor: pointer;
}

.p-focus-card {
  height: max(30vmax, 600px);
  max-height: 100vh;
  width: max(30vmax, 200px);
  padding: max(15px, 2.5vh) max(20px, 3vh);
  overflow-y: auto;
  overflow-wrap: break-word;
  background-color: rgb(51, 67, 87);
  border-radius: 3vh;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

/* MY PROJECTS PAGE */

.p-projects-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: max(10px, 2vh);
}

.p-projects-container .project-card {
  width: max(280px, 80%);
  background-color: rgba(0, 0, 0, 0.4);
}
