/* main content */

.p-main-content {
  position: fixed;
  left: calc(60px + 5vmin);
  top: 30px;
  z-index: 1;
  width: calc(100vw - 60px - 10vmin);
  height: calc(100vh - 120px);
  font-family: "Roboto Mono";
  color: white;
  overflow: hidden;
}

/* side nav */

.p-side-nav {
  position: fixed;
  font-family: "Roboto Mono";
  color: white;
  z-index: 10;
  width: 60px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-right: 1px solid white;
  box-shadow: 1px 0 10px -1px rgba(0, 0, 0, 0.5);
}

.p-side-nav-content {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.p-nav-icon-description {
  display: none;
  position: absolute;
  left: 40px;
  top: -2px;
  width: 200px;
  overflow: hidden;
}

.connecting-segment {
  position: relative;
  top: 18px;
  height: 3px;
  width: 30px;
  background-color: white;
}

.description-box {
  position: relative;
  left: 30px;
  height: 30px;
  width: max-content;
  padding: 2px 7px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.p-side-nav-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: saturate(0);
}

.p-side-nav-icon:hover {
  filter: saturate(0) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
}

.p-side-nav-icon:hover .p-nav-icon-description {
  display: block;
  animation: description-appear 0.5s ease-out;
}

@keyframes description-appear {
  0% {
    width: 0;
  }
}

.p-side-nav-icon img {
  width: 100%;
  height: 100%;
}

.p-side-nav-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  background-image: url("../../assets/logo2.png");
  background-size: cover;
  cursor: pointer;
  filter: invert(1);
}

/* footer */

.p-footer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid white;
}

.p-footer-contact-info {
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 14px;
  color: black;
  cursor: default;
}

.p-email-clipboard {
  height: 20px;
  cursor: pointer;
  filter: invert(1);
}

.p-footer-icons {
  position: absolute;
  right: 12px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  filter: invert(1) saturate(0);
}

.p-footer-item {
  width: 35px;
  height: 35px;
}

.p-footer-icon {
  width: 100%;
  height: 100%;
}

/* background */

.p-background-container {
  filter: invert(1);
}

.p-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/pastelclouds.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: bg-hue-rotate 120s ease infinite;
}

@keyframes bg-hue-rotate {
  25% {
    filter: hue-rotate(-90deg);
  }
  75% {
    filter: hue-rotate(90deg);
  }
}

@keyframes hex-move-right {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translateX(140vw);
  }
}

@keyframes hex-blink {
  50% {
    opacity: 0.1;
  }
}

.p-animated-hexes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hex-1 {
  position: absolute;
  background-image: url("../../assets/hex1.png");
  background-size: cover;
  opacity: 0;
}

.hex-2 {
  position: absolute;
  background-image: url("../../assets/hex2.png");
  background-size: cover;
  opacity: 0;
}

.hex-1:nth-child(1) {
  top: 3vh;
  left: 35vw;
  width: 8vh;
  height: 8vh;
  animation: hex-move-right 14s infinite linear, hex-blink 8s infinite ease;
}

.hex-2:nth-child(2) {
  top: 14vh;
  width: 28vh;
  height: 28vh;
  animation: hex-move-right 16s infinite linear, hex-blink 10s infinite ease;
}

.hex-1:nth-child(3) {
  top: 16vh;
  width: 14vh;
  height: 14vh;
  animation: hex-move-right 16s infinite linear, hex-blink 6s infinite ease;
}

.hex-2:nth-child(10) {
  top: 22vh;
  margin-left: -2vh;
  width: 16vh;
  height: 16vh;
  animation: hex-move-right 16s infinite linear, hex-blink 8s infinite ease;
}

.hex-1:nth-child(4) {
  top: 41vh;
  left: 20vw;
  width: 12vh;
  height: 12vh;
  animation: hex-move-right 22s infinite linear, hex-blink 6s infinite ease;
}

.hex-1:nth-child(5) {
  top: 62vh;
  left: -10vw;
  width: 20vh;
  height: 20vh;
  animation: hex-move-right 18s infinite linear, hex-blink 10s infinite ease;
}

.hex-1:nth-child(6) {
  top: 88vh;
  left: 30vw;
  width: 6vh;
  height: 6vh;
  animation: hex-move-right 16s infinite linear, hex-blink 16s infinite ease;
}

.hex-2:nth-child(7) {
  top: 72vh;
  width: 18vh;
  height: 18vh;
  animation: hex-move-right 28s infinite linear, hex-blink 10s infinite ease;
}

.hex-2:nth-child(8) {
  top: 78vh;
  margin-left: 6vh;
  width: 14vh;
  height: 14vh;
  animation: hex-move-right 28s infinite linear, hex-blink 12s infinite ease;
}

.hex-2:nth-child(9) {
  top: 76vh;
  margin-left: -4vh;
  width: 20vh;
  height: 20vh;
  animation: hex-move-right 28s infinite linear, hex-blink 8s infinite ease;
}
