.footer {
  position: absolute;
  z-index: 4;
  display: flex;
  right: max(40px, 2vw);
  bottom: max(30px, 3vh);
  height: max(40px, 4vh);
}

.footer-item:not(:first-child) {
  margin-left: max(25px, 1.5vw);
}

.footer-icon {
  height: 100%;
  width: auto;
  filter: invert(1) grayscale(1);
}

.footer-icon:hover {
  animation: scaledown-dark 3s infinite ease;
}

.footer.light .footer-icon {
  filter: invert(0) grayscale(1);
}

.footer.light .footer-icon:hover {
  animation: scaledown-light 3s infinite ease;
}

@keyframes scaledown-dark {
  50% {
    transform: scale(0.8);
    filter: invert(1) grayscale(1)
      drop-shadow(0px 0px max(10px, 2vh) rgb(255, 255, 255));
  }
}

@keyframes scaledown-light {
  50% {
    transform: scale(0.8);
    filter: invert(0) grayscale(1)
      drop-shadow(0px 0px max(10px, 2vh) rgb(0, 0, 0));
  }
}

.pager-container {
  position: fixed;
  width: max(6vw,100px);
  bottom: 3vh;
  left: 49.5%;
  margin-left: min(-3vw, -50px);
  text-align: center;
  color: white;
  cursor: pointer;
}

.main-display.light .pager-container {
  color: black;
}
