:root {
  --bg-dark: rgb(18, 20, 26);
  --bg-light: rgb(216, 216, 208);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #c4c3ca;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

main {
  position: absolute;
  left: max(4vw, 9vh);
  right: max(4vw, 9vh);
  height: 85vh;
}

.background-dark {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: var(--bg-dark);
}

.background-light {
  position: fixed;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: -9;
  background-color: var(--bg-light);
}

.bg-cat-paw {
  display: None;
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
  height: max(50vh, 250px);
}

.bg-cat-paw img {
  position: relative;
  bottom: -33%;
  height: 100%;
  width: auto;
  transform: rotate(-20deg);
}

.main-display {
  position: fixed;
  z-index: 2;
  left: 50%;
  margin-left: -35vw;
  height: 100%;
  width: 70vw;
}

/* ================================
  SCROLL BAR CHANGES
================================ */

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5vh;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.main-display.light ::-webkit-scrollbar-thumb {
  background: rgba(32, 32, 32, 0.6);
}

.main-display.light ::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 17, 17);
}
