:root {
  --bg-dark: rgb(18, 20, 26);
}

.side-menu {
  position: absolute;
  margin: max(30px, 3vh) 0 0 max(30px, 1.5vw);
  width: fit-content;
  height: auto;
  z-index: 99;
  filter: grayscale(1);
}

.menu-bar-line {
  width: max(50px, 2vw);
  height: max(6.5vh, 30px);
  opacity: 0.75;
  margin-top: max(0.5vh, 5px);
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: max(50px, 2vw);
}

.menu-tag {
  display: none;
  margin-left: max(15px, 0.5vw);
  font-size: max(1.5vh, 16px);
  color: rgb(255, 255, 255);
  padding: max(0.25vh, 2px) max(1vw, 20px) max(0.25vh, 2px) max(1vw, 20px);
  border-radius: 10vh;
  border: 2px solid white;
  background-color: rgba(18, 20, 26, 0.4);
}

.menu-icon:hover + .menu-tag {
  display: block;
}

.menu-icon:hover {
  filter: drop-shadow(0px 0px max(8px, 1.5vh) rgb(255, 255, 255));
}

body.light .side-menu {
    filter: grayscale(1) invert(1);
}
