:root {
  --bg-dark: rgb(18, 20, 26);
  --inv-dark: 1;
}

.side-menu {
  position: absolute;
  margin: max(30px, 3vh) 0 0 max(30px, 1.5vw);
  width: fit-content;
  height: auto;
  z-index: 99;
  filter: grayscale(1);
}

.menu-bar-line {
  width: max(50px, 2vw);
  height: max(6.5vh, 30px);
  opacity: 0.75;
  margin-top: max(0.5vh, 5px);
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: max(50px, 2vw);
}

.menu-tag {
  display: none;
  margin-left: max(15px, 0.5vw);
  font-size: max(1.5vh, 16px);
  color: rgb(255, 255, 255);
  padding: max(0.25vh, 2px) max(2vw, 40px) max(0.25vh, 2px) max(2vw, 40px);
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0)
  );
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.6));
}

.menu-icon:hover + .menu-tag {
  display: block;
}

.menu-icon:hover {
    filter: drop-shadow(0px 0px max(8px, 1.5vh) rgb(255, 255, 255));
}

@keyframes scaledown-dark {
  50% {
    transform: scale(0.9);
    filter: drop-shadow(0px 0px max(8px, 1.5vh) rgb(255, 255, 255));
  }
}
